body {
      background-color: #FFCDC5; /* Background Color */
      color: #7C1201; /* Text Color */
      a {
        color: #7C1201; /* Change this to your desired color */
      }
  
      a:hover {
        color: #460C03; /* Hover effect */
      }
}


